* {
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
}

body {
    background-color: #dfc19d;
}

div {
    width: 300px;
    height: 150px;
    background-color: #a3c4bc;
    border: 2px solid #4c6a71;
    padding: 10px;
    margin: 20px;
}

h1 {
    color: #4c6a71;
    font-family: 'Arial Black', Gadget, sans-serif;
}

h2 {
    color: #655437;
    font-family: 'Georgia', serif;
}

p {
    color: #1d1915;
    font-family: 'Courier New', Courier, monospace;
}

ul {
    color: #485f64;
}

a {
    color: #7b4e2a;
}