* {
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
}

body {
    background-color: rgba(223, 227, 227, 0.264);
}

h1 {
    color: rgb(80, 189, 213);
    font-family: 'Arial Black', Gadget, sans-serif;
}

p {
    color: rgb(80, 84, 83);
    font-family: 'Courier New', Courier, monospace;
}