* {
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
}

body {
    background-color: rgb(217, 222, 222);
}

h1 {
    color: purple;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

p {
    color: green;
    font-family: 'Courier New', Courier, monospace;
}